# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [ ]:
#import libraries
import pandas as pd
import numpy as np

In [ ]:
#load csv file data with headers

location = "datasets_travel_times.csv"
travel_df = pd.read_csv(location )

In [ ]:
travel_df.head()
#df.head?

In [ ]:
travel_df.tail()

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [ ]:
#import libraries
import pandas as pd
import numpy as np

In [ ]:
expense_df= pd.read_excel("datasets_income_expenses.xlsx")

In [ ]:
expense_df.head()

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [ ]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]
ShoeList = list(zip(names,grades))

In [ ]:
df = pd.DataFrame(data = ShoeList, columns=['names','grades'])
df.to_csv('ShoeListgrades.csv',index=False,header=False)

In [ ]:
df = pd.DataFrame(data = ShoeList, columns=['names','grades'])
df.to_excel('studentgrades.xlsx',index=False,header=False)

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [ ]:
#show the number of rows and columns in a dataframe
travel_df.shape

In [ ]:
travel_df.columns
#or print(df.columns)

In [ ]:
expense_df.columns

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [ ]:
expense_df.groupby(expense_df['Income Range']).sum()

In [ ]:
expense_df['Amount'].groupby(expense_df['Income Range']).sum()

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

In [ ]:
#pivot table default function is mean
pd.pivot_table(travel_df, index=['DayOfWeek','GoingTo'],values=['TotalTime'])

#pd.pivot_table(travel_df, values=['GoingTo'], index=['DayOfWeek'])

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.